body {
  margin: 0;
  padding: 0;
  background: #000000;
  color: #000;
  font-family: sans-serif;
  font-size: 10px;
  line-height: 15px;
  height: 100%;
  width: 99%;
  overflow: hidden;
}

header, footer{
  text-align: center;
  color: #fff;
}

section{
  overflow-y: auto;
  /*width: 70%;
  margin: auto;*/
}

#viewer {
  position: absolute;
  top: 0;
  left: 0;
}

#map {
  height: 300px;
}

#search, #go{
  margin: auto;
}
